<section class="section-margin pb-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tour-card">
          <img class="card-img rounded-0" src="assets/client/img/home/tour1.png" alt="">
          <div class="tour-card-overlay">
            <div class="media">
              <div class="media-body">
                <h4>Paris tour offer</h4>
                <small>5 days offer</small>
                <p>We proper guided our tourist</p>
              </div>
              <div class="media-price">
                <h4 class="text-primary">$65/day</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="tour-content">
              <h2>We offer worldwise tour plan recently</h2>
              <p>Make she'd moved divided air. Whose tree that hath own upon them it multiply was blessed </p>
            </div>
          </div>
        </div>

        <div class="tour-card">
          <img class="card-img rounded-0" src="assets/client/img/home/tour2.png" alt="">
          <div class="tour-card-overlay">
            <div class="media">
              <div class="media-body">
                <h4>Paris tour offer</h4>
                <small>5 days offer</small>
                <p>We proper guided our tourist</p>
              </div>
              <div class="media-price">
                <h4 class="text-primary">$65/day</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-7">
        <div class="tour-card">
          <img class="card-img rounded-0" src="assets/client/img/home/tour3.png" alt="">
          <div class="tour-card-overlay">
            <div class="media">
              <div class="media-body">
                <h4>Paris tour offer</h4>
                <small>5 days offer</small>
                <p>We proper guided our tourist</p>
              </div>
              <div class="media-price">
                <h4 class="text-primary">$65/day</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="tour-card">
          <img class="card-img rounded-0" src="assets/client/img/home/tour4.png" alt="">
          <div class="tour-card-overlay">
            <div class="media">
              <div class="media-body">
                <h4>Paris tour offer</h4>
                <small>5 days offer</small>
                <p>We proper guided our tourist</p>
              </div>
              <div class="media-price">
                <h4 class="text-primary">$65/day</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
